*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f3f3f3;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
nav{
    height: 40px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #444;
    background-color: #EEF5FF;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}
a{
    text-decoration: none;
}
.navbtn{
    
    color:#444;
}
.btn{
    padding: 0px 10px;
    background-color: #0050d5;
    color: #fff;
    border-radius: 10px;
    font-weight: 400;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.btn:hover{
    opacity: 60%;
}
.menu{
    display: none;
}
.navbtn::before{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #c4c4f7;
    transition: width 800ms;
}
.navbtn::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #c4c4f7;
    transition: width 500ms;
}
.navbtn:hover::after,:hover::before{
    width: 100%;
}
.right>img{
    border-radius: 50%;
    height: auto;
    width: 300px;
    box-shadow: 4px 9px 30px black;
}
.right{
    display: flex;
    align-items: center;
    justify-content: end;
    animation: anime2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    transition: .5s ease;
    
}
@keyframes anime2 {
    0%{
        margin-right: -400px;  
        opacity: 0;
    }

}
.logo-per{
    width: 300px;
    border-radius: 30px;
    animation:anime;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}


.dropmenu{
    display: none;
}

.dropmenu ul{
    flex-direction: column;
    position: absolute;
    top:40px;
    right: 2rem;
    width: 60%;
    height: 30%;
    overflow: hidden;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 1px 2px 25px gray;
    padding: 10px;
    border-radius: 20px;
}
i{
    cursor: pointer;
    color: black;
}
.fa-twitter{
    color: #0050d5;
}
.fa-instagram{
    color: hotpink;
}
.fa-facebook-f{
    color:rgb(76, 76, 201)
}
.fa-linkedin-in{
    color:#007785
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
.name{
    color: orange;
}
.developer{
    color: #3652AD;
}
.social_icon a{
    font-size: 20px;
    margin-left: 5px;
}
.left{
    font-size: 2rem;
    padding-left: 12px;
    transition: .5s ease;
    animation: anime;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes anime {
    0%{
        margin-left: -300px;  
        opacity: 0;
    }
}
.hire{
    background-color: rgb(58, 158, 230);
    color:#fff;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.hire:hover{
    background-color: #3a9ee690;
}
.cv{
    background-color: #fff;
    color:orange;
    border: 1px solid orange;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.cv:hover{
    color:#fff;
    background-color: rgb(220, 213, 213);
}

/*about section*/
.about{
    padding: 12px 12px;
    margin-top: 50px;
    min-height: 80vh;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
.describe{
    text-align: center;
    min-width: 300px;
    max-width: 500px;
}
.describe>h3{
    text-decoration: underline;
    text-decoration-color: #0050d5;
}

.my_name{
    color: #39b385;
}
.describe>h3{
    font-size: 25px;
}
.describe>p{
    font-size: 20px;
}
/*projects*/

.project-section{
    
    padding:10px 10px ;
}
.project-bar{
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
.project-title{
    text-decoration: underline;
    font-weight: 800;
    text-decoration-color: #829949;
    color: rgb(21, 138, 37);
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-project img{
    box-shadow: 2px 2px 33px rgb(5, 4, 4);
    height: 300px;
    min-width: 100px;
    border-radius: 20px;
    min-width: 250px;
}
.logo-project img:hover{
    opacity: 0.6;
}
.description p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.project{
    margin-top: 85px;
    display: flex;
    gap:30px;
    min-width: 200px;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #444;
}
.description{
    
    margin-top: 0px;
    min-width: 200px;
    max-width: 900px;
}
.p2>.logo-project{
    order:1;
}
.p4>.logo-project{
    order: 1;
}
.project-link{
    text-decoration: underline;
}
footer{
    background-color: #444;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    color: #EEF5FF;
}

@media (max-width:608px) {
    nav{
        justify-content: space-between;
        padding: 0px 20px;
    }
    .navmenu{
        display: none;
    }
    .menu{
        display: block;
        
    }
    
}
@media (max-width:640px){
    .main{
        flex-direction: column;
    }
    .right>img{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 200px;   
        
    }
    
    .left{
        order: 2;
        margin-bottom: 0px;
        /* background-color: blue; */
        flex:1;
    }  
}
@media (max-width:857px){
    .project{
        flex-direction: column;
    }
    .p2>.logo-project{
        order:0;
    }
    .p4>.logo-project{
        order: 0;
    }
}